.headline {
  text-align:     center;
  vertical-align: middle;
}
.author,
.profile-name {
  text-align:   center;
  font-size:    14pt;
}
.profile-img {
  margin:         0px auto;
  width:          168px;
  border-width:   4px;
  border-style:   solid;
  border-color:   black;
  border-radius:  50%;
}
.affliation > img {
  height: 100px;
  float: left;
}