.headline {
  text-align:     center;
  vertical-align: middle;
}
.author,
.profile-name {
  font-size:    12pt;
}
.profile-img {
  margin:         0px auto;
  width:          128px;
  height:          128px;
  border-width:   4px;
  border-style:   solid;
  border-color:   black;
  border-radius:  50%;
}
.profile {
  width: -webkit-calc(33%);
  width:         calc(33%);
  float:         left;
  text-align:    center;
  margin-top:    30px;
  margin-bottom: 30px;
}
.affliation {
  width: -webkit-calc(48%);
  width:         calc(48%);
  float:         left;
  text-align:    center;
  margin-top:    30px;
  margin-bottom: 30px;
}
.resource {
  font-weight: 500;
  font-size:   12pt;
}
.item-list {
  width: -webkit-calc(100% - (30px / 2));
  width:         calc(100% - (30px / 2));  
  margin-top:    15px;
  display:       inline-block;
}
.affliation-img {
  height: 100px;
}
.site-logo {
  height: 60px;
}
.abstract-headline {
  font-weight: 500;
  font-size: 12pt;
}
.abstract-content {
  margin-top:  10px;
  font-size:   12pt;
}

.text-box {
  background-color:  #e8e8e8;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  color: 002336;
}

.references {
  margin-top:30px;
  font-size: 10pt;
}

.reference {
  margin-top:5px;
}

.footnote {
  margin-top: 30px;
}